/*Global Css**/
body {
    margin:0 auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #28b487, #7dd56f) no-repeat;
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
  }
  html{
    scroll-behavior: smooth;
  }
  #myHeader {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 111;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
 .container{
    width: 100%;
 }
 .wrapper{
    width:90%;
    max-width:1366px;
    margin: 0 auto;
 }
/*Global Css*/

/** Header Styles Starts Here **/
 .separator{
    padding: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
 }
 .logo-brand a{
    text-decoration: none;
    font-size: 34px;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 600;
 }
 .navigation ul li{
    display: inline-block;
    padding: 0 10px;
   
 }
 .navigation ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
 }
 .navigation ul li a:hover{
    border-bottom: 2px solid #fff;
    color: #fff;
    font-weight: 600;
   
 }

 .sidepanel  {
    width: 0;
    position: fixed;
    z-index: 999;
    height: 100vh;
    top: 0;
    display: none;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidepanel a:hover {
    color: #fff;
  }
  
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: #000;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color:#444;
    color: #fff;
  }
  .openbtn{
    display: none;
  }

/** Header Styles Ends Here **/

/** Banner Styles starts here**/
.container-banner{
    width: 100%;
    padding: 100px 0 20px 0px;
}
.banner-layout{
    text-align: center;
}
.intro h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 48px;
    letter-spacing: 2px;
}
.prefix-text{
  font-size: 16px;
  font-weight: 400;
}
.intro p{
    background-color: #fff;
    width: fit-content;
    border-radius: 15px;
    text-align: center;
    padding: 1rem 2rem;
    color: #333;
    margin: 0 auto;
    font-size: 20px;
    margin-bottom: 15px;
    box-shadow: 2px 2px 4px #fff;
}
.profile-pic img{
    margin:20px 0px;
   filter: drop-shadow(0px 12px 10px #fff);
}
.social-icons ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 36px;
    text-align: center;
    padding: 0 30px;
   
}
.social-icons ul li a{
    text-decoration-color:none ;
    color: #fff;
}
/** Banner Styles Ends here**/

/** Skills Set Styles Starts here**/
 .title h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}
.skills .separator img{
   background-color: #fff;
    width: 80px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 20px;
    
}
/** Skills Set Styles Ends here**/

/** Project Set Styles Starts here**/
.separator-projects{
    padding: 12px;
    
}
.project{
    text-align: center;
}
.separator-projects .project img{
    border-radius: 20px;
    border: 8px solid #fff;
   width:320px;
}
.project details{
  width: 400px;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  border:2px solid #000;
  cursor: pointer;
  margin: 20px auto;
}
.icons{
  display: flex;
  justify-content: center;
}
.icons li{
  list-style-type: none;
}
.icons li a{
  color:#333;
  font-size: 24px;
  padding: 0 12px;
}
/** Project Set Styles ends here**/

/** Footer Styles Starts here**/
.copyrights p{
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
/** Footer Styles ends here**/

/** media queries**/

@media only screen and (max-width: 600px) {
    .navigation{
        display: none !important;
    }
    .body{
        width: 100% !important;
        overflow: hidden;
    }
   .wrapper{
    width: 90% !important;
    
   }
    .container-banner{
        width: 100% !important;
    }
    .openbtn{
        display: block !important;
    }
    .sidepanel {
        display: block !important;
    }
    .separator-projects{
        display: block !important;
        padding: 6px !important;
    }
    .separator-projects .project img{
        width:300px;
       
    }
    .project details{
        width:300px;
    }
    
}